---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import CardArtworks from "../components/CardArtworks.astro";
import FilterArtworks from "../components/FilterArtworks.astro";

// Fetcher data
const data = await fetch(
  "https://eposbelbueemuzonqiuu.supabase.co/rest/v1/artworks?order=id.asc",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVwb3NiZWxidWVlbXV6b25xaXV1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ3MzY2NzEsImV4cCI6MjAzMDMxMjY3MX0.7RC3yfMry34vETtGOmQWAujgxwf9O7ONYsWoLMtoagM",
    },
  }
).then((res) => res.json());
console.log(data);
---

<MainLayout title="Artworks">
  <h1>Artworks</h1>
  <FilterArtworks />
  <h3>All Artworks</h3>
  <section class="artworks">
    <!-- Mapper over dataen, og indsætter det i komponentet CardArtworks -->
    {
      data.map((artwork) => {
        return <CardArtworks data={artwork} />;
      })
    }
  </section>
</MainLayout>

<style>
  /* Artworks bliver vist som grid */
  .artworks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 420px));
    justify-content: center;
    gap: 30px;
  }
  h3 {
    margin: 0px 0 20px 0;
  }
  hr {
    margin-bottom: 40px;
    background-color: var(--sort100Color);
    border: none;
    height: 1px;
  }

  /* Mobil version */
  @media screen and (max-width: 800px) {
    .artworks {
      display: block;
    }
    h3 {
      margin: 0px 0 20px 0;
    }
  }
</style>
