---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/CardFormerExhibitions.astro";
import CardLeft from "../components/CardFormerExhibitions2.astro";
import Filter from "../components/FilterFormerExhibitions.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Former Exhitions">
  <h1>FORMER EXHIBITIONS</h1>
<!-- <Filter/>
 -->
  <Card
    place="Viewing Room 2023"
    location="New York"
    information="The gallery is pleased to present a solo exhibition of works by Per Lunde Jørgensen in the viewing room from March 7 - April 8.  This is the gallery’s first presentation of the Copenhagen-based artist’s work. The exhibition will include a floor to ceiling modular installation comprised of individual canvases featuring forms of a single color or related set of colors.  The textural surfaces of color, sewn into raw canvas, are in fact upholstery fabrics taken from office chairs that the artist researches in classified ads and buys in and around Copenhagen.  The title of each final work refers to the location where the chairs were initially collected."
    imgPath="../public/imgs/formerexhibitions/viewingroom2023_newyork.webp"
   buttonlink="http://www.kristenlorello.com/per-lunde-jurgenson"
    />

<!-- omvendt card -->
    <CardLeft
    place="Nada 2023"
    location="New York"
    information="Concepts of intimacy, affection, touching and desire is the combing elements of Bonamatic’s presentation of works by Kasper Hesselbjerg and Per Lunde Jørgensen. Food understood as both edible matter and part of a semiotic system, combined with  the everyday preowned object and painterly interventions in Airbnb homes turned into a proven field of artistic expression."
    imgPath="../public/imgs/formerexhibitions/nada2023_newyork.webp"
   buttonlink="https://www.newartdealers.org/programs/nada-new-york-2023/presentations/853"/>
<!-- omvendt card -->

<Card
place="Nada 2022"
location="Miami"
information="Preowned curtains collected in suburban areas around Copenhagen, combined with ink paintings of phantom-like gestalt formations."
imgPath="../public/imgs/formerexhibitions/Nada2022_miami.webp"
buttonlink="https://www.newartdealers.org/programs/nada-miami-2022/artworks/8405"
/>

<!-- omvendt card -->
<CardLeft
place="Nada 2022"
location="New York"
information="There are similar interventive traits at play in the works of Per Lunde Jørgensen, with works being based on searching, collecting and transforming preowned chairs and sofas bought on Den Blå Avis, using a preset search radius that determines the projects’ spatial area, and at the same time a specific social demography. In another series he rents private homes on Airbnb or hotel rooms, where he performs full scale frottage on canvas, resulting in some large graphite “paintings”."
imgPath="../public/imgs/formerexhibitions/nada2022_newyork.webp"
buttonlink="https://www.newartdealers.org/programs/nada-new-york-2022/artworks/4048"/>
<!-- omvendt card -->

<Card
place="REASSEMBLING THE SOCIAL 2018"
location="Denmark"
information="Per Lunde Jørgensen's new work is based on office chairs purchased on the classifieds website within a limited search radius of 20 km, which, in addition to delineating an area, also points to a specific social demographic. The upholstery of the office chairs has been removed and sewn onto canvas to create pictorial objects that exist in an unstable state between the recognizable and the universally abstract."
imgPath="../public/imgs/formerexhibitions/thesocial2018_denmark.webp"
buttonlink="https://kunsten.nu/artguide/calendar/reassembling-the-social/"
/>

</MainLayout>

