---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/CardFormerExhibitions.astro";
import Filter from "../components/FilterFormerExhibitions.astro";
import Button from "../components/Button.astro";

// Fetcher data
const data = await fetch(
  "https://eposbelbueemuzonqiuu.supabase.co/rest/v1/former_exhibitions?order=id.asc",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVwb3NiZWxidWVlbXV6b25xaXV1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ3MzY2NzEsImV4cCI6MjAzMDMxMjY3MX0.7RC3yfMry34vETtGOmQWAujgxwf9O7ONYsWoLMtoagM",
    },
  }
).then((res) => res.json());
console.log(data);
---

<MainLayout title="Former Exhitions">
  <div class="top">
    <h1>FORMER EXHIBITIONS</h1>
    <Filter />
  </div>
  <!-- Text left -->
  <section class="former_exhibitions">
    <!-- Mapper over dataen, og indsætter det i komponentet CardArtworks -->
    {
      data.map((exhibition) => {
        return <Card position="text_left" data={exhibition} />;
      })
    }
  </section>
</MainLayout>
