---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Home">
  <article>
    <div class="navn_knap">
      <h1 class="titel">Per Lunde Jørgensen</h1>
      <div>
        <Button destination="/artworks">See artworks</Button>
      </div>
    </div>
  </article>
</MainLayout>

<style>
  /* Desktop skærm*/

  /* Styling på <article> hvor baggrundsbilldet er */
  article {
    position: relative; /* Position relativ */
    background-image: url("/imgs/index2.webp"); /* Baggrundsbillede */
    background-size: cover; /* Dækker hele elementet */
    background-repeat: no-repeat; /* Ingen gentagelse af baggrundsbillede */
    background-position: center; /* Centreret baggrundsbillede */
    height: 100vh; /* 100% af viewportens højde */
    width: 100vw; /* 100% af viewportens bredde */
    margin: -160px -60px -60px -60px; /* Margin, så billedet fylder hele skærmen */
  }

  /* Styling af container hvor H1 og knap indgår */
  .navn_knap {
    position: absolute; /* Position absolut */
    bottom: 0; /* Placeret nederst */
    display: flex; /* Vis som flekselement */
    flex-direction: column; /* Arranger elementer i en kolonne */
    gap: 35px; /* Afstand mellem elementer */
    width: fit-content; /* Tilpasser bredden til indholdet */
    margin: 0 0 45px 40px;
  }

  h1 {
    line-height: 1; /* Juster linjehøjde */
  }

  /* Mobilversion */

  @media screen and (max-width: 800px) {
    /* Styling på <article> hvor baggrundsbilldet er i mobilversion */
    article {
      position: relative; /* Position relativ */
      background-image: url("/imgs/index.webp"); /* Baggrundsbillede */
      background-size: cover; /* Dækker hele elementet */
      background-repeat: no-repeat; /* Ingen gentagelse af baggrundsbillede */
      background-position: center; /* Centreret baggrundsbillede */
      height: 1131px; /* Fastsat højde */
      margin: -270px -30px -60px -30px; /* Marginjustering */
    }

    /* Styling af container hvor H1 og knap indgår i mobilversionen */
    .navn_knap {
      margin-left: 25px; /* Venstremargin */
      margin-bottom: 185px; /* Bundmargin */
      position: absolute; /* Position absolut */
      bottom: 0; /* Placeret nederst */
      display: flex; /* Vis som flekselement */
      flex-direction: column; /* Arranger elementer i en kolonne */
      gap: 25px; /* Afstand mellem elementer */
      width: fit-content; /* Tilpasser bredden til indholdet */
    }

    /* H1 i mobilversionen */
    h1 {
      line-height: 1; /* Juster linjehøjde */
    }

    /* Styling af "Per Lunde" H1 i mobilversionen */
    .fornavn {
      top: 525px; /* Afstand fra toppen */
      bottom: 30px; /* Afstand fra bunden */
      margin-left: 1px; /* Venstremargin */
    }

    /* Styling af "Jørgensen" H1 i mobilversionen */
    .efternavn {
      margin-left: -11px; /* Venstremargin */
      top: 585px; /* Afstand fra toppen */
    }
  }
</style>
