---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="The Artist">
  <h1>The Artist</h1>
  <!-- Container med information om Per Lunde Jørgensen -->
  <div class="artist_Per">
    <div class="textbox_artist">
      <h2>Per Lunde Jørgensen</h2>
      <div class="text_flex">
        <p>
          Per Lunde Jørgensen was born in Aarhus, Denmark (1964) and he lives
          and work in Copenhagen. He holds an MFA from the Royal Danish Academy
          of Fine Arts, and has had several solo shows at Galleri Søren Houmann
          and at The Danish Cultural Ministery´s Kunsthal O-Overgaden. He has
          participated in a wide range of exhibitions including Stadtgalerie
          Kiel, Germany, SMK The Danish National Gallery, and KØS, Denmark, and
          has exhibited at several art museums in Scandinavia. His works are
          collected by The Danish Art Counsel, The Berkowitz Art Foundation, and
          numerous other private collections. In 2024 his works will be part of
          Personal Structures at Palazzo Mora in Venice.
        </p>
        <p>
          He has participated in a wide range of exhibitions including
          Stadtgalerie Kiel, Germany, SMK The Danish National Gallery, and KØS,
          Denmark, and has exhibited at several art museums in Scandinavia. His
          works are collected by The Danish Art Counsel, The Berkowitz Art
          Foundation, and numerous other private collections. In 2024 his works
          will be part of Personal Structures at Palazzo Mora in Venice.
        </p>
      </div>
    </div>
    <figure id="artist_1">
      <img src="/imgs/artist_1.webp" loading="lazy" alt="Artwork by Per" />
    </figure>
  </div>
  <!-- Container med informationer om Ebay Chairs -->
  <div class="artist_ebaychair">
    <figure id="artist_2">
      <img src="/imgs/artist_2.webp" loading="lazy" alt="Artwork by Per" />
    </figure>
    <div class="textbox_artist">
      <h2>Ebay Office Chairs Within 20 km Of Copenhagen</h2>
      <div class="text_flex">
        <p>
          Per Lunde Jørgensen's popular works are based on office chairs found
          and purchased on the Danish sales platform Den Blå Avis within a
          limited search radius of 20 km. The covering of the office chair is
          removed and sewn onto a textile canvas for pictorial objects. They
          exist in an unstable state between the recognizable and the generally
          abstract.
        </p>

        <p>
          In a previous exhibition at the Bonamatic gallery in 2018, these works
          were the focus. The exhibition's title, 'Reassembling the Social,' is
          taken from Bruno Latour's book of the same name. It points to how the
          works, in various ways, contemplate our arrangement of the social by
          actively intervening in it with new objects. They raise questions
          about the distribution of roles between the subjective and the
          objective and how what appears as static is sometimes mutable.
        </p>
      </div>
    </div>
  </div>
</MainLayout>

<style>
  /* Container med information om Per Lunde Jørgensen */
  .artist_Per {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
    align-items: center;
    gap: 50px;
  }

  /* Container med informationer om Ebay Chairs */
  .artist_ebaychair {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
  }

  h2 {
    margin-bottom: 8px;
    line-height: 1.2;
  }

  figure img {
    height: 80vh; /* Angiver højden på det største billede for alle singleviews */
    width: 70vh;
    object-fit: cover;
  }

  /* Styling af tekst-sektioner */
  .textbox_artist {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  /* Yderligere styling for selve tekstindholdet */
  .text_flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: -5px;
    margin-bottom: 25px;
  }

  /* Mobil version */
  @media screen and (max-width: 1000px) {
    .artist_Per {
      grid-template-columns: 1fr;
      gap: 0;
    }
    .artist_ebaychair {
      grid-template-columns: 1fr;
      gap: 0;
    }
    figure img {
      width: auto;
      height: auto;
    }
    h1 {
      margin-bottom: 30px;
    }
    h2 {
      margin-top: -15px;
    }
    .textbox_artist {
      order: 1;
    }
    .text_flex {
      order: 1;
    }

    #artist_1 {
      order: 2; /* Specificer rækkefølge */
      margin-bottom: 30px;
    }
    #artist_2 {
      order: 2; /* Specificer rækkefølge */
    }
  }
</style>
