---
import "../styles/style.css";
// Definerer props "destination".
const { destination } = Astro.props;
---

<!-- Indsætter slot og props, så vi kan ændre i indholdet af knappen inde i html'en -->
<a class="button" href={destination}><slot /></a>

<style>
  .button {
    padding: 18px 50px;
    border: 1px solid var(--sort100Color);
    background-color: var(--hvidColor);
    cursor: pointer;
  }
  .button:hover {
    box-shadow: 5px 5px 4px #ac2a224d;
    color: var(--rød100Color);
  }

  /* Mobil version */
  @media screen and (max-width: 600px) {
    .button {
      padding: 15px 40px;
      font-size: 14px;
    }
  }
</style>
