---
import "../styles/style.css";
import CardArtworks from "../components/CardArtworks.astro";
const data = await fetch(
  "https://eposbelbueemuzonqiuu.supabase.co/rest/v1/artworks?order=id.asc",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVwb3NiZWxidWVlbXV6b25xaXV1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ3MzY2NzEsImV4cCI6MjAzMDMxMjY3MX0.7RC3yfMry34vETtGOmQWAujgxwf9O7ONYsWoLMtoagM",
    },
  }
).then((res) => res.json());
console.log(data);
---

<article class="filter">
  <div class="box">
    <h4>Filter</h4>
    <div class="arrow down"></div>
  </div>
  <div class="filter_options">
    <a href="#">Ebay Office Chairs</a>
    <a href="#">Office Chairs Arranged by Value</a>
    <a href="#">Two Seater Copenhagen</a>
    <a href="#">Airbnb Frottage</a>
    <a href="#">Reviews</a>
  </div>
</article>

<style>
  .filter {
    width: 100%;
    height: 60px;
    border: 1px solid var(--sort100Color);
    margin: 24px 0 54px 0;
    z-index: 0;
  }
  .box {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 0;
    cursor: pointer;
  }
  h4 {
    position: absolute;
    top: 10px;
    left: 20px;
  }
  .arrow {
    border: solid var(--sort100Color);
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 7px;
    position: absolute;
    right: 20px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 18px;
  }
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    top: 26px;
  }
  .active {
    visibility: visible !important;
  }
  .filter_options {
    display: flex;
    visibility: hidden;
    background-color: var(--hvidColor);
    flex-direction: column;
    gap: 10px;
    padding: 10px 0 30px 20px;
    margin-top: 57px;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 0;
    border: 1px solid var(--sort100Color);
    border-top: 0;
  }
  a {
    text-transform: none;
  }
  a:hover {
    color: var(--rød100Color);
  }

  /* Mobil version */
  @media screen and (max-width: 800px) {
    .filter {
      height: 50px;
    }
    .filter_options {
      margin-top: 47px;
    }
    .box {
      height: 50px;
    }
    .filter_options {
      padding: 3px 0 20px 21px;
    }
    .filter_options a {
      font-size: 14px;
    }
    .down {
      top: 13px;
    }
    .up {
      top: 20px;
    }
  }
</style>

<script>
  // Definerer nogle variabler
  const box = document.querySelector(".box");
  const filter = document.querySelector(".filter_options");
  const options = document.querySelector(".filter_options a");
  const arrow = document.querySelector(".arrow");

  // Kalder funtion på click af filter box.
  // Funktionen tilføjer klassen .active, når der klikkes på burgermenuen.
  box.addEventListener("click", () => {
    filter.classList.toggle("active");
    arrow.classList.toggle("up");
  });

  {
    data
      .filter((artwork) => artwork.title === "Ebay Office Chairs")
      .map((artwork) => {
        return <CardArtworks data={artwork} />;
      });
  }
</script>
