---
import "../styles/style.css";
import Button from "./Button.astro";
---

<div class="footer">
  <div class="logo">
    <a href="/"> <img src="/logo/logo_footer.svg" alt="Logo" /></a>
  </div>
  <nav>
    <h5 class="h_bold">Overview</h5>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/artworks">Artworks</a></li>
      <li><a href="/about">About the artist</a></li>
      <li><a href="/former_exhibitions">Former Exhibitions</a></li>
      <li><a href="/contact">Get in touch</a></li>
    </ul>
  </nav>
  <div class="adresse_section">
    <h5 class="h_bold">Address</h5>
    <div class="adresse">
      <p class="bold">Bonamatic</p>
      <p>Degnestavnen 17, st.tv.</p>
      <p>2400 København NV</p>
    </div>
    <a class="button" href="/contact">See opening hours</a>
  </div>
  <div class="some">
    <h5 class="h_bold">Social Media</h5>
    <div class="some_icons">
      <a href="/">
        <img src="/imgs/some/instagram.svg" alt="Instagram icon" /></a
      >
      <a href="/"> <img src="/imgs/some/mail.svg" alt="Mail icon" /></a>
    </div>
  </div>
</div>

<style>
  .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--sort100Color);
    padding: 68px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    z-index: 999;
    background-color: var(--hvidColor);
  }
  h5 {
    text-transform: uppercase;
  }
  .logo {
    margin: auto;
  }
  nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  li {
    list-style: none;
  }
  li a:hover {
    color: var(--rød100Color);
  }

  /* Adresse */
  .bold {
    font-weight: 600;
  }
  .adresse_section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .adresse {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-transform: uppercase;
  }
  .button {
    font-size: 14px;
    padding: 12px 15px;
    border: 1px solid var(--sort100Color);
    background-color: var(--hvidColor);
    cursor: pointer;
  }
  .button:hover {
    box-shadow: 5px 5px 4px #ac2a224d;
    color: var(--rød100Color);
  }

  /* SoMe icons */
  .some {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .some_icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: baseline;
  }

  /* Mobil version */
  @media screen and (max-width: 800px) {
    .footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px 0;
      padding: 50px 0;
    }
    nav {
      gap: 10px;
    }
    .some {
      grid-column: 2;
    }
    .logo {
      padding: 30px;
      grid-row: 1 / span 2;
    }
    a {
      font-size: 18px;
    }
    ul li a {
      font-size: 12px;
    }
  }
</style>
