---
import "../styles/style.css";
---

<div class="header">
  <div class="logo">
    <a href="/">
      <img src="../logo/logo_header.svg" alt="Logo" />
    </a>
  </div>
  <nav>
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/artworks">Artworks</a></li>
      <li><a href="/about">About the artist</a></li>
      <li><a href="/former_exhibitions">Former Exhibitions</a></li>
      <li><a href="/contact">Get in touch</a></li>
    </ul>
    <div class="burger">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </nav>
</div>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    position: relative;
    z-index: 1;
  }
  nav {
    display: flex;
    align-items: center;
  }
  .logo {
    padding: 20px 0;
  }
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
  }
  .menu li:first-child {
    display: none;
  }
  .menu a {
    padding: 20px 20px;
    border: 1px solid transparent;
  }
  .menu a:hover {
    padding: 20px 20px;
    border: 1px solid var(--sort100Color);
  }
  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  .burger .bar {
    width: 100%;
    height: 2px;
    background-color: var(--sort100Color);
    margin-bottom: 8px;
    transition: 0.2s linear;
  }
  .burger {
    display: none;
  }

  /* Mobil version */
  @media screen and (max-width: 800px) {
    .header {
      padding: 25px 0;
    }
    .menu {
      display: none;
    }
    .menu li:first-child {
      display: block;
    }
    .logo {
      padding: 12px 0 0 0;
    }
    .burger {
      display: block;
    }
    /* Tilføjer klassen .active til burgermenuen, så vi kan lave en aktiv burgermenu i javascript */
    .burger.active .bar:nth-child(1) {
      transform: rotate(45deg) translate(8px, 8px);
      transition: 0.2s linear;
    }
    .burger.active .bar:nth-child(2) {
      opacity: 0;
      transition: 0.15s linear;
    }
    .burger.active .bar:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px);
      transition: 0.2s linear;
    }
    nav.active .menu {
      display: flex;
      gap: 30px;
      flex-direction: column;
      background-color: var(--hvidColor);
      position: absolute;
      top: 0;
      left: -30px;
      width: 390px;
      height: 100vh;
      padding: 100px 0 0 20px;
    }
  }
</style>

<script>
  // Definerer nogle variabler
  const burger = document.querySelector(".burger");
  const nav = document.querySelector("nav");
  const menu = document.querySelector(".menu");
  const links = document.querySelectorAll(".menu li a");

  // Kalder funtion på click af burgermenuen.
  // Funktionen tilføjer klassen .active, når der klikkes på burgermenuen.
  burger.addEventListener("click", () => {
    burger.classList.toggle("active");
    nav.classList.toggle("active");
  });

  // Når der klikkes på linksene inde i burgermenuen, lukker burgermenuen igen.
  links.forEach((link) => {
    link.addEventListener("click", () => {
      burger.classList.remove("active");
      nav.classList.remove("active");
    });
  });
</script>
