---
import "../styles/style.css";
// Definerer props "destination", så vi kan sige inde i MainLayout, at man skal scrolle til headeren ved klik på pilen.
const { destination } = Astro.props;
---

<a class="button" href={destination}>
  <div class="arrow up"></div>
</a>

<style>
  .button {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px 20px 10px 20px;
    z-index: 999;
  }
  .arrow {
    border: solid var(--sort100Color);
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 7px;
  }
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
</style>
