---
import "../styles/style.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ScrollUpBtn from "../components/ScrollUpBtn.astro";
// Definerer props "title"
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Per Lunde Jørgensen hjemmeside" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="../../logo/logo_header.svg" />
    <title>{title}</title>
  </head>
  <body>
    <header id="header">
      <Header />
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <Footer />
    </footer>
    <!-- Siger, at man skal scrolle til headeren, når der bliver klikket på scroll up knappen -->
    <ScrollUpBtn destination="#header" />
  </body>
</html>
